<my-navbar></my-navbar>
<div class="container-fluid ">
	<div *ngIf="question">
		<div class="row">

			<div class="row row1">
				<div class="col-sm-4 col-sm-offset-2">Question number: {{questionnum}}</div>
				<div class="col-sm-4 col-sm-offset-2">Time Left: {{countDown | async}}secs</div>
			</div>

			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<div class="question questiondiv">

						<h2>{{question.question}}</h2><br>
						<input type="radio" [(ngModel)]="option" name=option value={{question.options[0]}}> {{question.options[0]}}
						<br>
						<input type="radio" [(ngModel)]="option" name="option" value={{question.options[1]}}> {{question.options[1]}}
						<br>
						<input type="radio" [(ngModel)]="option" name="option" value={{question.options[2]}}> {{question.options[2]}}
						<br>
						<input type="radio" [(ngModel)]="option" name="option" value={{question.options[3]}}> {{question.options[3]}}
						<br>
						<br>
						<button type="button" class="nextbtn" (click)="nextQuestion()">Next Question</button>

					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<div class="row startdiv" *ngIf="start">
	<div class="col-sm-6 col-sm-offset-4">
		<h2>Get Ready to start the quiz!!</h2>
	</div><br><br>

	<button type="button" class=" startbtn" (click)="startQuiz()">Start Quiz </button>

</div>