<my-navbar></my-navbar>
<form class="signup-form">
    <div class="container">
        <div class="row">
            <div class="col-sm-12"></div>

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <label><b>FULL NAME</b></label><br>
                    <input type="text" id="name" placeholder="Enter Username" name="name" required minlength="4" maxlength="24"><br>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <label><b>EMAIL</b></label><br>
                    <input type="text" id="password" placeholder="Enter Mail-id" name="password" required><br>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <label><b>USERNAME</b></label><br>
                    <input type="text" id="name" placeholder="Enter Username" name="name" required minlength="4" maxlength="24"><br>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <label><b>PASSWORD</b></label><br>
                    <input type="password" id="password" placeholder="Enter Password" name="password" required minlength="4" maxlength="24"><br>
                </div>
            </div>

            <button type="submit" value="Submit">SIGNUP</button><br><br>
            <a class="link" routerLink="/login"><b>Login Here...</b></a>

        </div>
    </div>
</form>